<main class="main">
  <div class="top-banner">
    <div class="top-banner-content">
      <div class="top-banner-content-1">
        <h3>The Title</h3>
        <div>13265651231161616165156.......</div>
      </div>
      <div class="top-banner-qr-info">
        <div class="top-banner-qr-info-1">
          <img
            class="top-banner-qr-info-img"
            src="../../../assets/banner-scan.png"
          />
          <div>
            <p>Total Scans</p>
            <p>5,423</p>
            <p>
              <span>
                <svg
                  width="20"
                  height="21"
                  viewBox="0 0 20 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10 17.5L10 5.5"
                    stroke="#27FFD4"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M4.16669 10.5L10 4.66666L15.8334 10.5"
                    stroke="#27FFD4"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                16%
              </span>
              this month
            </p>
          </div>
        </div>

        <div style="height: 84px; width: 1px; background: white"></div>

        <div class="top-banner-qr-info-1">
          <img
            class="top-banner-qr-info-img"
            src="../../../assets/banner-booking.png"
          />
          <div>
            <p>Total Bookings</p>
            <p>5,423</p>
            <p>
              <span>
                <svg
                  width="20"
                  height="21"
                  viewBox="0 0 20 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10 17.5L10 5.5"
                    stroke="#27FFD4"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M4.16669 10.5L10 4.66666L15.8334 10.5"
                    stroke="#27FFD4"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                16%
              </span>
              this month
            </p>
          </div>
        </div>
      </div>
    </div>
    <img class="top-banner-main-img" src="../../../assets/qr-banner-img.png" />
    <img
      class="top-banner-main-img"
      src="../../../assets/qr-banner-gradient.png"
    />
  </div>

  <table>
    <thead>
      <tr>
        <td>Date & Time</td>
        <td>Browser Name</td>
        <td>Browser Version</td>
        <td>Platform</td>
        <td>IP Address</td>
        <td>City</td>
        <td>State</td>
        <td>Country</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>12/07/2024 , 4:15:12 PM</td>
        <td>Chrome</td>
        <td>114.0 0.0 </td>
        <td>Android</td>
        <td>103.12.123.1234</td>
        <td>Los Angeles</td>
        <td>California</td>
        <td>USA</td>
      </tr>
      <tr>
        <td>12/07/2024 , 4:15:12 PM</td>
        <td>Chrome</td>
        <td>114.0 0.0 </td>
        <td>Android</td>
        <td>103.12.123.1234</td>
        <td>Los Angeles</td>
        <td>California</td>
        <td>USA</td>
      </tr>
      <tr>
        <td>12/07/2024 , 4:15:12 PM</td>
        <td>Chrome</td>
        <td>114.0 0.0 </td>
        <td>Android</td>
        <td>103.12.123.1234</td>
        <td>Los Angeles</td>
        <td>California</td>
        <td>USA</td>
      </tr>
      <tr>
        <td>12/07/2024 , 4:15:12 PM</td>
        <td>Chrome</td>
        <td>114.0 0.0 </td>
        <td>Android</td>
        <td>103.12.123.1234</td>
        <td>Los Angeles</td>
        <td>California</td>
        <td>USA</td>
      </tr>
      <tr>
        <td>12/07/2024 , 4:15:12 PM</td>
        <td>Chrome</td>
        <td>114.0 0.0 </td>
        <td>Android</td>
        <td>103.12.123.1234</td>
        <td>Los Angeles</td>
        <td>California</td>
        <td>USA</td>
      </tr>
      <tr>
        <td>12/07/2024 , 4:15:12 PM</td>
        <td>Chrome</td>
        <td>114.0 0.0 </td>
        <td>Android</td>
        <td>103.12.123.1234</td>
        <td>Los Angeles</td>
        <td>California</td>
        <td>USA</td>
      </tr>
      <tr>
        <td>12/07/2024 , 4:15:12 PM</td>
        <td>Chrome</td>
        <td>114.0 0.0 </td>
        <td>Android</td>
        <td>103.12.123.1234</td>
        <td>Los Angeles</td>
        <td>California</td>
        <td>USA</td>
      </tr>
      <tr>
        <td>12/07/2024 , 4:15:12 PM</td>
        <td>Chrome</td>
        <td>114.0 0.0 </td>
        <td>Android</td>
        <td>103.12.123.1234</td>
        <td>Los Angeles</td>
        <td>California</td>
        <td>USA</td>
      </tr>
    </tbody>
  </table>
</main>
