header {
  display: flex;
  width: 100%;
  padding: 0 30px;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}
header h2 {
  color: #000;
  font-family: "DM Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 123.529% */
  letter-spacing: -0.68px;
}
header input {
  display: flex;
  height: 43px;
  padding: 14px 173px 16px 55px;
  align-items: center;
  gap: 10px;
  border-radius: 148px;
  border: 1px solid rgba(46, 188, 150, 0.2);
  background: transparent !important;
}

.search {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 8px;
  background: transparent !important;
  border-radius: 148px !important;
  position: relative;
}
.search img {
  position: absolute;
  left: 1.6rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}
.rightIcon {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  /* gap: 9px; */
}
.rightIcon span {
  color: #1c1c1c;
  font-family: Nunito;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.54px;
}

.rightIcon img {
  display: flex;
  width: 52px;
  height: 52px;
  padding: 12px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.cards {
  column-count: 3;
  column-gap: 35px;
}
.card {
  display: inline-block;
  width: 100%;
  background: #fff;
  align-self: start;
  border: none !important;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 20px 0 rgba(112, 144, 128, 0.2);
  height: auto;
  margin: 0 0 5px;
  break-inside: avoid;
  margin-bottom: 35px;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
}
/* .card:nth-child(2),
.card:nth-child(4) {
  margin-top: 30px;
} */
.card-body1 {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
  position: relative;
}

.card-header h3 {
  flex: 1;
  font-size: 18px;
  font-weight: 700;
}

.icon {
  display: flex;
  align-items: center;
  gap: 20px;
}
.icon img {
  width: 45px;
  height: 45px;
  background: rgba(46, 188, 150, 0.1);
  padding: 8px;
  border-radius: 5px;
}
.card-body1 span {
  background: rgba(32, 255, 12, 0.4);
  color: #5bc052;
  font-size: 12px;
  font-weight: 600;
  border-radius: 12px;
  padding: 2px 8px;
}

.total-clicks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 10px;
}
.total-press {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;
}

.total-clicks strong {
  font-size: 24px;
  font-weight: 700;
  text-align: end;
  margin-left: auto;
}
.total-press strong {
  font-size: 24px;
  font-weight: 700;
  margin-left: auto;
}

.items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
  background: #f3fdfb;
}

.items li.normal {
  background: rgba(46, 188, 150, 0.1);
  border-left: 3px solid #2b88eb;
}
.items li:nth-child(3) {
  background: rgba(147, 51, 234, 0.1);
  border-left: 3px solid #9333ea;
}
.items li.green {
  background: rgba(147, 51, 234, 0.1);
  border-left: 3px solid #2ebc96;
}
.items li.normal:nth-child(2) {
  background: rgba(46, 188, 150, 0.1);
  border-left: 3px solid #2ebc96;
}

.items li.danger {
  background: rgba(237, 7, 7, 0.1);
  color: #000000;
  border-left: 3px solid #ed0707;
}

.value {
  font-weight: 600;
  text-align: center;
}

.percent {
  font-size: 11px;
  color: #999;
  margin-left: 4px;
}
.items li:first-child .percent,
.items li:nth-child(5) .percent {
  color: #2b88eb;
}

.items li .percent {
  color: #ed6507;
}
.percent1 {
  display: flex;
  flex-direction: column;
  height: 30px;
}
.percent svg path {
  stroke: currentColor;
}

.row {
  display: flex;
  gap: 20px;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.countBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
