<header>
  <h2>Templates</h2>
  <!-- <div class="search">
    <img src="../../../assets/icons/search 1.svg" alt="" />
    <input type="text" placeholder="Search Loactions" />
  </div> -->
  <div class="rightIcon">
    <span>View </span>
    <img src="../../../assets/icons/Frame 73.svg" alt="" />
    <img src="../../../assets/icons/Frame 74.svg" alt="" />
  </div>
</header>

<div class="row">
  <div class="col" >
    <div class="card" *ngFor="let template of col1">
      <div class="card-body">
        <div
          class="card-body1"
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
          "
        >
          <div class="icon">
            <img [src]="template.icon" alt="{{ template.title }}" />
            <h3>{{ template.title }}</h3>
          </div>
          <!-- <span class="status" *ngIf="template.active">Active</span> -->
        </div>

        <div class="countBox">
          <div class="total-press">
            <div class="">
              <span class="text-[#1C1C1C] fw-bold">Total Sent</span>
            </div>
            <strong>{{ template.topSentCount | number }}</strong>
          </div>
          <div class="total-clicks">
            <div class="">
              <span class="text-[#1C1C1C] fw-bold">Total Clicks</span>
            </div>
            <strong>{{ template.totalClicks | number }}</strong>
          </div>
        </div>
      </div>

      <ul class="items">
        <li *ngFor="let item of template.items" [ngClass]="item.type">
          <span>{{ item.label }}</span>
          <div class="percent1">
            <span class="value">{{ item.value | number }}</span>
            <span class="percent"
              >{{ item.percent }}%
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="13"
                height="14"
                viewBox="0 0 13 14"
                fill="none"
              >
                <path
                  d="M1.04004 1.51999V11.7493C1.04004 12.1529 1.36717 12.48 1.77071 12.48H12"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M11.2694 4.44254L7.61606 8.0958L5.78939 6.26906L3.23206 8.82639"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                /></svg
            ></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
 
  <div class="col">
    <div class="card" *ngFor="let template of col2">
      <div class="card-body">
        <div
          class="card-body1"
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
          "
        >
          <div class="icon">
            <img [src]="template.icon" alt="{{ template.title }}" />
            <h3>{{ template.title }}</h3>
          </div>
          <!-- <span class="status" *ngIf="template.active">Active</span> -->
        </div>

        <div class="countBox">
          <div class="total-press">
            <div class="">
              <span class="text-[#1C1C1C] fw-bold">Total Sent</span>
            </div>
            <strong>{{ template.topSentCount | number }}</strong>
          </div>
          <div class="total-clicks">
            <div class="">
              <span class="text-[#1C1C1C] fw-bold">Total Clicks</span>
            </div>
            <strong>{{ template.totalClicks | number }}</strong>
          </div>
        </div>
      </div>

      <ul class="items">
        <li *ngFor="let item of template.items" [ngClass]="item.type">
          <span>{{ item.label }}</span>
          <div class="percent1">
            <span class="value">{{ item.value | number }}</span>
            <span class="percent"
              >{{ item.percent }}%
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="13"
                height="14"
                viewBox="0 0 13 14"
                fill="none"
              >
                <path
                  d="M1.04004 1.51999V11.7493C1.04004 12.1529 1.36717 12.48 1.77071 12.48H12"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M11.2694 4.44254L7.61606 8.0958L5.78939 6.26906L3.23206 8.82639"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                /></svg
            ></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
 
  <div class="col">
    <div class="card" *ngFor="let template of col3">
      <div class="card-body">
        <div
          class="card-body1"
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
          "
        >
          <div class="icon">
            <img [src]="template.icon" alt="{{ template.title }}" />
            <h3>{{ template.title }}</h3>
          </div>
          <!-- <span class="status" *ngIf="template.active">Active</span> -->
        </div>

        <div class="countBox">
          <div class="total-press">
            <div class="">
              <span class="text-[#1C1C1C] fw-bold">Total Sent</span>
            </div>
            <strong>{{ template.topSentCount | number }}</strong>
          </div>
          <div class="total-clicks">
            <div class="">
              <span class="text-[#1C1C1C] fw-bold">Total Clicks</span>
            </div>
            <strong>{{ template.totalClicks | number }}</strong>
          </div>
        </div>
      </div>

      <ul class="items">
        <li *ngFor="let item of template.items" [ngClass]="item.type">
          <span>{{ item.label }}</span>
          <div class="percent1">
            <span class="value">{{ item.value | number }}</span>
            <span class="percent"
              >{{ item.percent }}%
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="13"
                height="14"
                viewBox="0 0 13 14"
                fill="none"
              >
                <path
                  d="M1.04004 1.51999V11.7493C1.04004 12.1529 1.36717 12.48 1.77071 12.48H12"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M11.2694 4.44254L7.61606 8.0958L5.78939 6.26906L3.23206 8.82639"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                /></svg
            ></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
 
  
</div>
