.container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px 15px;
  /* flex-direction: column; */
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  border-radius: 18px;
  background: #fff;
  box-shadow: 0 4px 20px 0 rgba(112, 144, 128, 0.2);
}
.contactContianer {
  display: flex;
  width: 45%;
  padding: 15px;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  align-self: stretch;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 4px 20px 0 rgba(112, 144, 128, 0.2);
}
.RightContianer {
  display: flex;
  width: 55%;
  height: 100%;
  padding: 120px 50px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #fff;
}
.underContainer {
  display: flex;
  width: 90%;
  height: auto;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}
.g-bg-head {
  background: #f9fafa;
  padding: 0.8rem 1.2rem;
  color: #333540;
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.g-bg-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #f9fafa;
  background-image: url(../../../assets/Balance.png);
  background-size: cover;
  padding: 0.8rem 1.2rem;
  color: white;
  border-radius: 12px;
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.leftheading {
  height: 8vh;
}
.leftheading p {
  color: var(--Secondary-Grey-400, #e9edf7);
  margin: 0px;
  font-family: "DM Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.24px;
}

.leftheading h2 {
  color: var(--Secondary-Primary-White, #fff);
  font-family: "DM Sans";
  font-size: 2rem;
  margin: 0px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.68px;
}
.Rihgtheading {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contactSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.buttonContainer {
  display: flex;
  align-items: flex-start;
  gap: 14px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
}

.buttonContainer button {
  display: flex;
  padding: 9px 15px;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  background: #f4f4f4;
  transition: all 0.3s ease;
}

.buttonContainer button.active {
  color: #fff;
  background: linear-gradient(95deg, #2ebc96 -9.49%, #1a9096 89.62%);
}
.allContact {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  align-self: stretch;
}
.contactList {
  display: flex;
  padding: 6px 5px;
  justify-content: start;
  align-items: center;
  align-content: center;
  row-gap: 20px;
  align-self: stretch;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(180, 171, 171, 0.66);
  gap: 10px;
}
.contactList img {
  width: 50px;
  height: 50px;
  aspect-ratio: 1/1;
  border-radius: 50px;
}
.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.contactInfo h3 {
  color: #303030;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1px;
}
.contactInfo p {
  color: #303030;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.8px;
  margin: 0px;
}
.groupcontainer {
  display: flex;
  height: 50vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  align-self: stretch;
}

.groupcontainer h2 {
  color: #636364;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1px;
}
.underContainer h1 {
  color: #000;
  font-family: "DM Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px; /* 118.75% */
  letter-spacing: -0.64px;
}

.button2 {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 9px 30px;
}
.button2 button {
  display: flex;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 8px;
  background: rgba(90, 103, 125, 0.1);
  border: none;
  color: #000;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.group-button1 {
  display: flex;
  padding: 15px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: linear-gradient(95deg, #2ebc96 -9.49%, #1a9096 89.62%);
  border: none;
}
