.sidebar-wrapper {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
  border-right: 1px solid lightgray;
  /* overflow: hidden; */
}

.sidebar-wrapper,
.sidebar-wrapper * {
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
  }

  /* For Firefox */

  scrollbar-width: none;
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  position: relative;
  width: 160px;
  transition: all 250ms;
  width: 225px !important;
}

.sidebar li div {
  width: 32px;
  display: flex;
  justify-content: center;
}

.sidebar img {
  height: 20px;
}

.sidebar img:nth-child(2) {
  display: none;
}

.menu_item.active img:nth-child(2) {
  display: flex;
}

.sidebar img:nth-child(1) {
  display: flex;
}

.menu_item.active img:nth-child(1) {
  display: none;
}

.sidebar.toggled {
  width: 80px !important;
  /* padding-left: 6rem !important; */
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100px !important;
  padding-left: 2rem;
  padding-top: 2rem;
}

.logo img {
  height: 30px;
  /* height: 60px; */
  object-fit: contain;
}

.logo h1 {
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
  transition: 100ms;
}

.sidebar.toggled .logo h1 {
  display: none;
}

.sidebar.toggled .logo {
  margin: 0 auto;
}

.sidebar.toggled .menu {
  width: 60px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 10px 0; */
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  padding: 15px;

  margin-top: 10px;
}

.menu_item {
  height: 45px;
  /* width: 150px; */
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-items: left;
  gap: 8px;
  cursor: pointer;
  border-radius: 1rem;
  white-space: nowrap;
}

.menu_item:hover {
  background: linear-gradient(to right, #2ebc96, #1a9096);
}

.menu_item:hover * {
  color: white;
}

.menu_item:hover img:first-child {
  display: none;
}

.menu_item:hover img:nth-child(2) {
  display: flex;
}

a {
  text-decoration: none;
}

.icon {
  height: 25px;
  width: 25px;
  border-radius: 20px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_item span {
  color: gray;
  font-size: 0.9rem;
}

.sidebar.toggled .menu_item span {
  display: none;
}

.sidebar.toggled a {
  width: fit-content;
  display: flex;
  justify-content: center;
}

.sidebar.toggled li {
  width: fit-content !important;
  padding: 0 10px;
  /* padding: auto; */
}

.menu_item.active {
  background: linear-gradient(to right, #2ebc96, #1a9096);
}

.menu_item.active span {
  color: white;
  font-weight: 600;
}

.sub_menu {
  margin-top: 5px;
  margin-left: 1.5rem;
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  border-left: 1px solid lightgray;
}

.sidebar.toggled .sub_menu {
  margin-left: 0;
  padding-left: 0;
  border: none;
  align-items: center;
}

.sub_menu_item {
  height: 45px;
  width: 142px;
  padding-left: 15px;
  padding-right: 15px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-items: left;
  gap: 1rem;
  cursor: pointer;
  border-radius: 1rem;
}

.sub_menu_item img {
  height: 20px;
}

.sub_menu_item span {
  color: gray;
  font-size: 0.9rem;
}

.sub_menu_item a {
  width: fit-content;
  padding-right: 15px;
}

.sidebar.toggled .sub_menu span {
  display: none;
}

.sub_menu_item.active {
  border-radius: 12px;
  background: linear-gradient(0deg, #2ebc96 0%, #1a9096 100%);
  color: white;
  font-weight: 600;
}

/* .sub_menu_item:hover {
  background: #eeeeee;
} */
.nested_sub_menu {
  margin-top: 5px;
  margin-left: 1.5rem;
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  border-left: 1px solid lightgray;
  gap: 10px;
}

.nested_sub_menu_item {
  display: flex;
  width: 126px;
  padding: 10px 10px;
  align-items: center;
  gap: 5px;
  border-radius: 8px;
  background: linear-gradient(0deg, #fff 0%, #fff 100%), #dfdfdf;
  cursor: pointer;
}

.nested_sub_menu_item img {
  width: 16px;
  height: 16px;
}
.nested_sub_menu_item span {
  color: #636364;
  font-family: Nunito;
  font-size: 0.9rem;
  font-style: normal;
}
.nested_sub_menu_item:hover,
.nested_sub_menu_item.active {
  background: #dfdfdf;
  cursor: pointer;
}

.pro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.25rem;
  background: url(../../../assets/img/pro-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120%;
  border-radius: 1rem;
  overflow: hidden;
  margin-top: auto;
  min-height: fit-content;
}

.pro h2 {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: white;
}

.pro p {
  font-size: 0.7rem;
  max-width: 19ch;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.849);
  margin-top: 0.7rem;
  margin-bottom: 1.25rem;
}

.pro button {
  border: none;
  outline: none;
  padding: 0.7rem 2rem;
  border-radius: 0.6rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  background-color: white;
}

.pro button span {
  background: linear-gradient(to right, #2ebc96, #1a9096);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sidebar.toggled .pro {
  display: none;
}

.toggle {
  position: absolute;
  top: 65px;
  left: 100%;
  transform: translateX(-50%);
  border: none;
  outline: none;
  cursor: pointer;
  height: 27px;
  width: 36px;
  border-radius: 7px;
  box-shadow: 0 0 10px #b3b3b380;
}

.toggle img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* @media screen and (max-width: 1400px) {
    .sidebar {
        width: 250px;
    }

    .sidebar.toggled {
        width: 60px;
    }
} */

.sidebar-borders {
  box-shadow: 0px 4px 20px 0px rgba(112, 144, 128, 0.2); /* border: 1px solid lightgray; */
  border-radius: 15px;
  padding: 15px auto;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.menu.sidebar-borders {
  overflow: visible;
  /* width: 180px; */
}

.sidebar.toggled .sub_menu a {
  aspect-ratio: 1;
}

@media (min-width: 1660px) {
  .sidebar {
    width: 345px !important;
  }
  .menu {
    padding: 20px;
  }
  .menu_item {
    height: 70px;
    gap: 15px;
    padding-left: 40px;
  }

  .menu_item img {
    height: 30px;
  }

  .menu_item span {
    font-size: 15px;
  }
  .logo img {
    height: 60px;
  }
  .sub_menu_item {
    height: 70px;
    width: 230px;
    padding-left: 40px;
  }
  .sub_menu_item img {
    height: 30px !important;
    width: auto !important;
  }
}
