@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "@ctrl/ngx-emoji-mart/picker";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --gradient-primary: linear-gradient(
    90deg,
    #11998e 0.01%,
    #31e080 99.98%,
    #38ef7d 99.99%
  );
  --color-primary: #1c9679;
  --color-white: #fff;
  --color-heading: #161616;
  --color-text: #111;
  --color-text-light: #7b7b7b;
  --font-poppins: "Poppins", sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
}

body {
  font-family: var(--font-poppins);
  overflow-x: hidden;
}

html {
  font-size: 80%;
}
/* @media screen and (max-width: 1400px) {
    html {
        font-size: 75%;
    }
} */

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #11998e;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  width: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #444;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .overview-cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    margin-bottom: 1rem;
  }

  table {
    font-size: 0.9rem;
  }

  canvas {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .card p {
    font-size: 1.2rem;
  }

  table {
    font-size: 0.8rem;
  }
}

::ng-deep emoji-mart {
  position: absolute;
  width: 240px;
  top: 435px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background: white;
  border: 3px solid black;
  border-bottom: 6px solid black;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

emoji-mart {
  position: absolute !important;
  bottom: 5px !important;
  left: 50% !important;
  transform: translateX(-85%);
  z-index: 1000 !important;
  background: white !important;
  border: 3px solid black !important;
  border-bottom: 6px solid black !important;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2) !important;
  border-radius: 6px !important;
}

.emoji-mart {
  width: 240px !important;
  border-radius: 6px !important;
}

.emoji-mart-preview {
  display: none !important;
}

.emoji-mart-search {
  display: none !important;
}
